.promo__wrapper {
  min-width: 320px;
  max-width: 1440px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  padding: 32px 24px 96px;
}
.promo__wrapper_header-title {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 32px;
}
.promo__wrapper_result {
  margin-bottom: 40px;
}
.promo__wrapper_result-item {
  display: block;
  width: 100%;
  display: flex;
  background: #000204;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-bottom: 20px;
}

.promo__wrapper_result-item-logo {
  width: 112px;
  height: 112px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.promo__wrapper_result-item-logo > div {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #11171D;

  background: #EBEBEB;
  padding: 1px 4px;
}

.promo__wrapper_result-item-logo > div:first-of-type {
  border-radius: 4px 0px 8px;
  left: 0;
}

.promo__wrapper_result-item-logo > div:last-child {
  border-radius: 0 4px 0px 8px;
  right: 0;
}

.promo__wrapper_result-item-logo > img {
  min-height: 100%;
  width: 100%;
}
.promo__wrapper_result-item-inner {
  box-sizing: border-box;
  padding: 12px 8px 10px 12px;
  width: calc(100% - 112px);
  display: grid;
  align-content: space-between;
}
.promo__wrapper_result-item-inner_cup {
  width: 100%;
  height: 12px !important;
}

.promo__wrapper_result-item-inner-title a {
  text-decoration: none;
  cursor: pointer;
}

.promo__wrapper_result-item-inner-title h2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
}

.promo__wrapper_result-item-inner-title h2:hover {
  color: #616161;
}

.promo__wrapper_result-item-inner-title h3 {
  font-weight: 300;
  font-size: 10px;
  line-height: 150%;
  color: #868686;
}
.promo__wrapper_result-item-inner_stats {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  justify-content: space-between;
}
.promo__wrapper_result-item-inner_stats p {
  display: inline;
  font-weight: 300;
  font-size: 10px;
  line-height: 150%;
  color: #868686;
}
.promo__wrapper_btn {
  border: none;
  background-color: #11171D;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
}

@media (min-width: 390px) {
  .promo__wrapper_result-item-logo {
    width: 110px;
    height: 110px;
  }
  .promo__wrapper_result-item-inner {
    width: calc(100% - 110px);
  }
}
@media (min-width: 576px) {
  .promo__wrapper_header-title {
    font-size: 28px;
    margin-bottom: 0px;
  }
  .promo__wrapper_header {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .promo__wrapper_result {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .promo__wrapper_result-item {
    width: calc(50% - 16px);
    display: block;
    box-sizing: border-box;
    margin-right: 32px;
  }
  .promo__wrapper_result-item:nth-child(2n) {
    margin-right: 0px;
  }

  .promo__wrapper_result-item-logo {
    width: 100%;
    height: min-content;
  }

  .promo__wrapper_result-item-logo > div {
    font-size: 16px;
    padding: 4px 10px;
  }

  .promo__wrapper_result-item-inner {
    box-sizing: border-box;
    width: 100%;
    min-height: 120px;
    padding: 16px 24px;
  }
  .promo__wrapper_result-item-inner_cup {
    display: none;
  }
  .promo__wrapper_result-item-inner-title h2 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .promo__wrapper_result-item-inner-title h3 {
    font-size: 12px;
  }
  .promo__wrapper_result-item-inner_stats p {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .promo__wrapper {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .promo__wrapper_btn {
    font-size: 20px;
  }
  .promo__wrapper_header-title {
    font-size: 32px;
  }
  .promo__wrapper_result-item {
    width: calc(33% - 14px);
    margin-right: 24px;
  }
  .promo__wrapper_result-item:nth-child(2n) {
    margin-right: 24px;
  }
  .promo__wrapper_result-item:nth-of-type(3n) {
    margin-right: 0px;
  }

  .promo__wrapper_result-item-inner {
    min-height: 150px;
  }
  .promo__wrapper_header-nav label {
    margin-left: 46px;
  }
}
@media (min-width: 992px) {
  .promo__wrapper_header-title {
    font-size: 36px;
  }

}
@media (min-width: 1200px) {
  .promo__wrapper {
    padding-top: 72px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .promo__wrapper_header-title {
    font-size: 40px;
    margin-bottom: 48px;
  }
  .promo__wrapper_result-item {
    width: calc(25% - 17px);
    display: block;
    box-sizing: border-box;
    margin-right: 20px;
  }
  .promo__wrapper_result-item:nth-child(2n) {
    margin-right: 24px;
  }
  .promo__wrapper_result-item:nth-of-type(3n) {
    margin-right: 24px;
  }
  .promo__wrapper_result-item:nth-of-type(4n) {
    margin-right: 0px;
  }

}